.row {
    margin-top: 76px; /* Ajusta este valor según la altura de tu navbar */
}

.goals-container {
    padding-top: 100px;  /* Increased padding to ensure content isn't hidden */
    min-height: calc(100vh - 76px); /* Viewport height minus header height */
    background-color: #fff;
}

.goals-content {
    margin-top: 20px;
}